/*Global styles*/
:root {
}

* {
    margin: 0;
    z-index: 1;
}

html {
    font-family: "Nunito Sans", serif;
    font-size: 18px;
}

body {
    cursor: default;
}

h1 {
    margin: .7% 0;
    font-weight: 800;
    font-size: 1.8rem;
}

h2 {
    margin: .4% 0;
    font-weight: 600;
    font-size: 1.5rem;
}

h3 {
    margin: .2% 0;
    font-weight: 400;
    font-size: 1.2rem;
}

h1, h2, h3 {
    text-align: center;
}

p {
    font-weight: 300;
    font-size: 1rem;
}

ul {
    text-align: left !important;
    padding: 0;
}

a {
    color: inherit;
    text-decoration: none;
}

*::-webkit-scrollbar, *::-webkit-scrollbar-track, *::-webkit-scrollbar-button, div::-webkit-scrollbar {
    width: 8px;
    height: 5px;
    border: none;
}

*::-webkit-scrollbar-button {
    display: none;
}

*::-webkit-scrollbar-thumb {
    background-color: rgba(245,245,245,0.25);
    border: none;
}

/*Common styles: layout*/
.wrapper {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("https://img3.thuthuatphanmem.vn/uploads/2019/10/10/background-hinh-dong_032850499.gif");
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 0;
}

.wrapper::after {
    content: "";
    width: 18%;
    height: 32%;
    position: absolute;
    bottom: 0;
    right: 0;
    background-image: url("images/yellow-apricot-flower-branches.png");
    background-size: cover;
    background-repeat: no-repeat;
    opacity: 75%;
    z-index: 1;
}

.container {
    width: 90%;
    height: 90%;
    display: flex;
}

.r-container {
    margin: 0 5px;
    display: flex;
}

.sub-container {
    width: 50%;
    min-height: 300px;
}

.side-bar {
    width: 20%;
    height: 100%;
    background-color: rgba(245,245,245,0.25);
}

.content {
    padding: 5px;
    width: 80%;
    background-color: rgba(0,0,0,0.25);
    color: white;
    overflow-x: hidden;
    overflow-y: scroll;
}

.section {
    margin: 10% 0;
}

.sub-section {
    margin: 3% 0;
}

.center-box {
    display: flex;
    justify-content: center;
}

/*Common styles: elements*/
.btn {
    margin: 5px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.active-nav {
    box-shadow: .3rem .6rem .6rem rgba(10,10,10,0.25);
    transform: translate(-.3rem, -.6rem);
}

.btn-icon {
    width: 20px;
    height: 20px;
    position: absolute;
    left: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.list {
    margin-top: 10px;
    display: flex;
    justify-content: center;
}

.list-item {
    margin-right: 12px;
}

.box-center-small {
    width: 20%;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.box-center-large {
    width: 30%;
    height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.box-center-larger {
    width: 800px;
    height: 350px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.box-full {
    width: 20%;
    padding: 5px;
}

.logo {
    text-align: center;
    height: 6%;
}
.logo img {
    width: 50%;
}


.nav-bar {
    display: flex;
    flex-direction: column;
}

.nav-bar a {
    margin-top: 10px;
}

.para {
    margin: 3% 0;
    padding: 5%;
}

.details {
    text-align: center;
}

.pagination {
    margin-top: 1%;
    display: flex;
    justify-content: center;
}

.pagination a {
    margin: 5px;
    color: inherit;
    padding: 8px 16px;
    text-decoration: none;
}

.pagination a.active-pag {
    background-color: rgba(10,10,10,0.25);
    pointer-events: none;
}

.scroll-text {
    white-space: nowrap;
    width: 100%;
    overflow: hidden;
}

.scroll-text__inner {
    display: inline-block;
    animation: scroll-text 10s linear infinite;
}

.slider {
    width: 100%;
    height: 400px;
    overflow: hidden;
    position: relative;
    backdrop-filter: blur(15px);
}

.slider__inner {
    display: flex;
    width: 200%;
    height: 100%;
    animation: slide 15s linear infinite alternate;
}

.slider__item {
    width: 50%;
    background-size: cover;
    background-position: center;
}

/*Common styles: effects*/
.c-effect {
    backdrop-filter: blur(10px);
    box-shadow: .3rem .6rem .6rem rgba(10,10,10,0.25);
}

.l-effect {
    backdrop-filter: blur(10px);
    transition-duration: 0.3s;
}

.l-effect:hover {
    box-shadow: .3rem .6rem .6rem rgba(10,10,10,0.25);
    transform: translate(-.3rem, -.6rem) scale(1.01);
    transition-duration: .3s;
}

.r-effect {
    backdrop-filter: blur(10px);
    transition-duration: 0.3s;
}

.r-effect:hover {
    box-shadow: -.3rem .6rem .6rem rgba(245,245,245,0.25);
    transform: translate(.3rem, -.6rem) scale(1.01);
    transition-duration: .3s;
}

/*Common styles: animation*/
@keyframes scroll-text {
    from {
        transform: translateX(100%);
    }
    to {
        transform: translateX(-100%);
    }
}

@keyframes slide {
    0% {
        transform: translateX(0);
    }
    45% {
        transform: translateX(0);
    }
    55% {
        transform: translateX(-50%);
    }
    100% {
        transform: translateX(-50%);
    }
}

/*Separate styles*/
#orientation h2 {
    text-align: left;
}

#leaders img {
    width: 100%;
    opacity: 75%;
}

#networks .over-list {
    overflow-x: auto;
}

#networks .over-list::-webkit-scrollbar {
    display: none;
}

#networks .list {
    width: fit-content;
}

#networks .sub-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

#networks .btn {
    position: absolute;
    margin-left: 50%;
    bottom: 0;
    width: 25%;
    background-color: rgba(10,10,10,0.25);
}

#networks img {
    width: 30%;
}

#statistics i {
    font-size: 2rem;
}

#statistics h2 {
    font-size: 3rem;
}

#support .btn {
    position: absolute;
    width: 95%;
    bottom: 0;
    background-color: rgba(10,10,10,0.25);
}

#connect .btn {
    width: 50px;
    height: 50px;
    background-color: rgba(10,10,10,0.25);
}

#connect i {
    font-size: 2rem;
}

#copyright p {
    text-align: center;
    opacity: 75%;
}